<!DOCTYPE HTML>
<html>
	<head>
		<title>Chandu's Data Science Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Nav -->
			<nav id="nav">
				<ul class="container">
					<li><a href="index.html">Home</a></li>
					<li><a href="index.html#portfolio">Portfolio</a></li>					
					<li><a href="about.html">About</a></li>
					<li><a href="#footer">Contact</a></li>
				</ul>
			</nav>

		<!-- Home -->
			<article id="top" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="col-4 col-5-large col-12-medium">
							<span class="image fit"><img src="images/chandu-2.jpeg" alt="" /></span>
						</div>
						<div class="col-8 col-7-large col-12-medium">
							<header>
								<h1>Hello. I'm <strong>Chandu</strong>.</h1>
							</header>
							<p>I am Chandramouli Yalamanchili, I am originally from India, staying in U.S.A for last 9 years. I currently work as mainframe programmer in financial or banking domain.</p>
							<p>As part of our day to day job, we deal with massive amounts of data related to credit card or debit card transactions. Over the last few years I have noticed a huge demand for the data from various clients, everyone wanted to receive the authorization data in near real time and want to come up with some real time insights. Being in the center of this processing, I wanted to gain more understanding on what I can do with this data and there by help my team as well as the firm. That’s where my data science interest comes from and made me join the Bellevue University’s Data Science course.</p>
						</div>
					</div>
				</div>
			</article>	

		<!-- Footer -->
		<article id="footer" class="wrapper style4">
			<div class="container medium">
				<hr />
				<header>
					<h2>Thank you for visting my portfolio!</h2>
					<p>You can reach me at below links</p>
				</header>
				<div class="row">
					<div class="col-12">
						<ul class="social">
							<li><a href="https://www.linkedin.com/in/chandramouli-yalamanchili-9b442816" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://github.com/chandu85" class="icon brands fa-github"><span class="label">Github</span></a></li>								
						</ul>
						<hr />
					</div>
				</div>
				<footer>
					<ul id="copyright">
						<li>&copy; Untitled. All rights reserved.</li>
					</ul>
				</footer>
			</div>
		</article>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>