<!DOCTYPE HTML>
<html>
	<head>
		<title>Chandu's Data Science Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-19BLDV3Z2E"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'G-19BLDV3Z2E');
		</script>
	</head>
	<body class="is-preload">

		<!-- Nav -->
			<nav id="nav">
				<ul class="container">
					<li><a href="index.html">Home</a></li>
					<li><a href="index.html#portfolio">Portfolio</a></li>					
					<li><a href="about.html">About</a></li>
					<li><a href="#footer">Contact</a></li>
				</ul>
			</nav>

		<!-- Home -->
			<article id="top" class="wrapper style11">
				<div class="container">
					<div class="row">
						<div class="col-4 col-5-large col-12-medium">
							<span class="image fit"><img src="images/chandu-2.jpeg" alt="" /></span>
						</div>
						<div class="col-8 col-7-large col-12-medium">
							<header>
								<h1>About Me</h1>
							</header>
							<p>I am <strong>Chandu</strong> [Chandramouli Yalamanchili]. I am originally from India, staying in U.S.A for last 9 years. I am currently working as mainframe programmer in financial or banking domain.</p>
							<p>As part of our day to day job, we deal with massive amounts of data related to credit card or debit card transactions. Over the last few years I have noticed a huge demand for the data from various clients, everyone wanted to receive the authorization data in near real time and want to come up with some real time insights. Being in the center of this processing, I wanted to gain more understanding on what I can do with this data and there by help my team as well as the firm. That’s where my data science interest comes from and made me join the Bellevue University’s Data Science course.</p>
							
							<h3>Resume - <a href="images/Resume_Chandu-Yalamanchili.pdf" target="_blank"><u>Chandramouli Yalamanchili</u></a></h3><br/>
							
							<h3>Education</h3>
							<ul>
								<li>
									Bellevue University, NE (2019-Present)
									<br/>MS in Data Science
								</li>									
								<li>

									Jawaharlal Nehru Technological University, Kakinada, Andhra Pradesh, India (2003-2007)
									<br/>Bachelor of Enginnering in Electronics and Telecommunications
								</li>
							</ul>
							<h3>Work Experience</h3>
							<ul>
								<li>
									Fiserv Inc (2015-Present)
									<ul>
										<li> Role - Technology Lead </li>
										<li> Domain - Banking </li>
										<li> Platform - IBM Mainframe </li>
										<li> Skills - IBM Assembler, Java, CICS, JCL</li>
									</ul>
								</li>									
								<li>
									Accenture LLP (2010-2015)
									<ul>
										<li> Role - Team Lead </li>
										<li> Domain - Banking </li>
										<li> Platform - IBM Mainframe </li>
										<li> Skills - IBM Assembler, CICS, JCL</li>
									</ul>
								</li>
								<li>
									IBM India Pvt. Ltd. (2007-2010)
									<ul>
										<li> Role - Senior Programmer </li>
										<li> Domain - Healthcare </li>
										<li> Platform - IBM Mainframe </li>
										<li> Skills - IBM Assembler, CICS, JCL</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</article>	

		<!-- Footer -->
		<article id="footer" class="wrapper style4">
			<div class="container medium">
				<hr />
				<header>
					<h2>Thank you for visting my portfolio!</h2>
					<p>Leave me a message using below form</p>
				</header>
				<div class="row">
					<div class="col-12">
						<form id="email-form" method="post" action="https://formspree.io/f/xbjqgawv">
							<div class="row">
								<div class="col-6 col-12-small">
									<input type="text" name="name" id="name" placeholder="Name" />
								</div>
								<div class="col-6 col-12-small">
									<input type="text" name="email" id="email" placeholder="Email" />
								</div>
								<div class="col-12">
									<input type="text" name="subject" id="subject" placeholder="Subject" />
								</div>
								<div class="col-12">
									<textarea name="message" id="message" placeholder="Message"></textarea>
								</div>
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
										<li><input type="reset" value="Clear Form" class="alt" /></li>
									</ul>
								</div>
								<div class="col-12">
									<p id="email-form-status"></p>
								</div>
							</div>
						</form>
					</div>
					<div class="col-12">
						<hr />
						<h3>You can also find me on ...</h3>
						<ul class="social">
							<li><a href="https://www.linkedin.com/in/chandramouli-yalamanchili-9b442816" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://twitter.com/ychandu85?s=09" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://github.com/chandu85" class="icon brands fa-github"><span class="label">Github</span></a></li>								
						</ul>
						<hr />
					</div>
				</div>
				<footer>
					<ul id="copyright">
						<li>&copy; Chandu Yalamanchili. All rights reserved.</li>
					</ul>
				</footer>
			</div>
		</article>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
	<script>
		var form = document.getElementById("email-form");
		
		async function handleSubmit(event) {
		  event.preventDefault();
		  var status = document.getElementById("email-form-status");
		  var data = new FormData(event.target);
		  fetch(event.target.action, {
			method: form.method,
			body: data,
			headers: {
				'Accept': 'application/json'
			}
		  }).then(response => {
			status.innerHTML = "Thanks for your submission!";
			form.reset()
		  }).catch(error => {
			status.innerHTML = "Oops! There was a problem submitting your form"
		  });
		}
		form.addEventListener("submit", handleSubmit)
	</script>
</html>