<!DOCTYPE HTML>
<html>
	<head>
		<title>Chandu's Data Science Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-19BLDV3Z2E"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'G-19BLDV3Z2E');
		</script>
	</head>
	<body class="is-preload">

		<!-- Nav -->
			<nav id="nav">
				<ul class="container">
					<li><a href="#top">Home</a></li>
					<li><a href="#portfolio">Portfolio</a></li>					
					<li><a href="about.html">About</a></li>
					<li><a href="#footer">Contact</a></li>
				</ul>
			</nav>

		<!-- Home -->
			<article id="top" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="col-4 col-5-large col-12-medium">
							<span class="image fit"><a href="about.html"><img src="images/chandu-2.jpeg" alt="" /></a></span>
						</div>
						<div class="col-8 col-7-large col-12-medium">
							<header>
								<h1>Hello!</h1>
							</header>
							<p>I am <strong>Chandu</strong> [Chandramouli Yalamanchili].</p>
							<p>I am originally from India, staying in U.S.A for last 9 years. I am currently working as mainframe programmer in financial or banking domain.</p>
							<h3>Welcome to my <strong>Data Science</strong> portfolio.</h3>								
						</div>
					</div>
				</div>
			</article>

		<!-- Portfolio -->
			<article id="portfolio" class="wrapper style3">
				<div class="container">
					<header>
						<h2>Here are some of my recent data science projects.</h2>				
					</header>
					<div class="row">
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="Project%201%20-%20Creditcard%20Fraud%20detection" class="image featured"><img src="images/credit-card.jpeg" alt="" /></a>
								<h3>Credit Card Fraud Prediction</h3>
								<h4><a href="Project%201%20-%20Creditcard%20Fraud%20detection" >As part of this project I have built a deep learning model that will predict fraudulent transactions</a></h4>								
							</article>
						</div>
						
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="Project%202%20-%20Breast%20Cancer%20Classification%20using%20Computer%20Vision" class="image featured"><img src="images/computer-vision.jpeg" alt=""/></a>
								<h3>Breast Cancer Classification</h3>
								<h4><a href="Project%202%20-%20Breast%20Cancer%20Classification%20using%20Computer%20Vision" >As part of this project I have built a deep learning model that will classify the malignant cells</a></h4>								
							</article>
						</div>
												
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="Project%203%20-%20IMDB%20Movie%20Review%20Sentiment%20Analysis" class="image featured"><img src="images/sentiment-analysis.jpeg" alt=""/></a>
								<h3>IMDB Movie Review Analysis</h3>
								<h4><a href="Project%203%20-%20IMDB%20Movie%20Review%20Sentiment%20Analysis">In this project I created a model that would establish the sentiment for an IMDB movie review</a></h4>								
							</article>
						</div>
												
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="Project%204%20-%20Air%20Travel%20Safety" class="image featured"><img src="images/air-travel.jpeg" alt=""/></a>
								<h3>Air Travel Safety Data Visualization</h3>
								<h4><a href="Project%204%20-%20Air%20Travel%20Safety" >As part of this project I have used several visualization techniques to review the safety in air travel</a></h4>								
							</article>
						</div>
												
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="Project%205%20-%20U.S%20Permanent%20Visa%20Approval%20Prediction" class="image featured"><img src="images/U.S-Visa.jpeg" alt=""/></a>
								<h3>U.S Permanent Visa Prediction</h3>
								<h4><a href="Project%205%20-%20U.S%20Permanent%20Visa%20Approval%20Prediction" >This project involves EDA process to prepare the U.S visa dataset and run through prediction model</a></h4>								
							</article>
						</div>
												
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="Project%206%20-%20Stock%20Market%20Price%20Prediction" class="image featured"><img src="images/stock-price.jpeg" alt=""/></a>
								<h3>Stock Price Prediction</h3>
								<h4><a href="Project%206%20-%20Stock%20Market%20Price%20Prediction" >In this project I have created ARIMA regression model to predict future stock price considering the historic details</a></h4>								
							</article>
						</div>
												
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="Project%207%20-%20House%20Price%20Prediction" class="image featured"><img src="images/house-price.jpeg" alt=""/></a>
								<h3>House Price Prediction</h3>
								<h4><a href="Project%207%20-%20House%20Price%20Prediction" >In this project I have created a regression model to predict house price based on the selected features</a></h4>								
							</article>
						</div>
												
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="Project%208%20-%20Credit%20Card%20Customer%20Segmentation" class="image featured"><img src="images/customer-segmentation.jpeg" alt=""/></a>
								<h3>Customer Segmentation</h3>
								<h4><a href="Project%208%20-%20Credit%20Card%20Customer%20Segmentation" >In this project I have created a KMeans clustering model to extract segments of customers</a></h4>								
							</article>
						</div>
												
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="Project%209%20-%20Weather%20API" class="image featured"><img src="images/wheather.jpeg" alt=""/></a>
								<h3>Weather API</h3>
								<h4><a href="Project%209%20-%20Weather%20API" >This project explores the ingestion of weather data from web through API</a></h4>								
							</article>
						</div>
												
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="Project%2010%20-%20Stroke%20Prediction" class="image featured"><img src="images/stroke.jpeg" alt=""/></a>
								<h3>Stroke Prediction</h3>
								<h4><a href="Project%2010%20-%20Stroke%20Prediction">In this project I have created a random forest model that predicts the stroke based on the features provided</a></h4>								
							</article>
						</div>
					</div>
				</div>
			</article>

		<!-- Footer -->
			<article id="footer" class="wrapper style4">
				<div class="container medium">
					<hr />
					<header>
						<h2>Thank you for visting my portfolio!</h2>
						<p>Leave me a message using below form</p>
					</header>
					<div class="row">
						<div class="col-12">
							<form id="email-form" method="post" action="https://formspree.io/f/xbjqgawv">
								<div class="row">
									<div class="col-6 col-12-small">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="col-6 col-12-small">
										<input type="text" name="email" id="email" placeholder="Email" />
									</div>
									<div class="col-12">
										<input type="text" name="subject" id="subject" placeholder="Subject" />
									</div>
									<div class="col-12">
										<textarea name="message" id="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Send Message" /></li>
											<li><input type="reset" value="Clear Form" class="alt" /></li>
										</ul>
									</div>
									<div class="col-12">
										<p id="email-form-status"></p>
									</div>
								</div>
							</form>
						</div>
						<div class="col-12">
							<hr />
							<h3>You can also find me on ...</h3>
							<ul class="social">
								<li><a href="https://www.linkedin.com/in/chandramouli-yalamanchili-9b442816" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://twitter.com/ychandu85?s=09" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://github.com/chandu85" class="icon brands fa-github"><span class="label">Github</span></a></li>								
							</ul>
							<hr />
						</div>
					</div>
					<footer>
						<ul id="copyright">
							<li>&copy; Chandu Yalamanchili. All rights reserved.</li>
						</ul>
					</footer>
				</div>
			</article>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
	<script>
		var form = document.getElementById("email-form");
		
		async function handleSubmit(event) {
		  event.preventDefault();
		  var status = document.getElementById("email-form-status");
		  var data = new FormData(event.target);
		  fetch(event.target.action, {
			method: form.method,
			body: data,
			headers: {
				'Accept': 'application/json'
			}
		  }).then(response => {
			status.innerHTML = "Thanks for your submission!";
			form.reset()
		  }).catch(error => {
			status.innerHTML = "Oops! There was a problem submitting your form"
		  });
		}
		form.addEventListener("submit", handleSubmit)
	</script>
</html>