<!DOCTYPE HTML>
<html>
	<head>
		<title>Chandu's Data Science Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Nav -->
		<nav id="nav">
			<ul class="container">
				<li><a href="/data-science/index.html">Home</a></li>
				<li><a href="/data-science/index.html#portfolio">Portfolio</a></li>					
				<li><a href="/data-science/about.html">About</a></li>
				<li><a href="#footer">Contact</a></li>
			</ul>
		</nav>

		<article id="portfolio" class="wrapper style11">
			<div class="container">
					{{ content }}
			</div>
		</article>	

		<!-- Footer -->
		<article id="footer" class="wrapper style4">
			<div class="container medium">
				<hr />
				<header>
					<h2>Thank you for visting my portfolio!</h2>
					<p>Leave me a message using below form</p>
				</header>
				<div class="row">
					<div class="col-12">
						<form id="email-form" method="post" action="https://formspree.io/f/xbjqgawv">
							<div class="row">
								<div class="col-6 col-12-small">
									<input type="text" name="name" id="name" placeholder="Name" />
								</div>
								<div class="col-6 col-12-small">
									<input type="text" name="email" id="email" placeholder="Email" />
								</div>
								<div class="col-12">
									<input type="text" name="subject" id="subject" placeholder="Subject" />
								</div>
								<div class="col-12">
									<textarea name="message" id="message" placeholder="Message"></textarea>
								</div>
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
										<li><input type="reset" value="Clear Form" class="alt" /></li>
									</ul>
								</div>
								<div class="col-12">
									<p id="email-form-status"></p>
								</div>
							</div>
						</form>
					</div>
					<div class="col-12">
						<hr />
						<h3>You can also find me on ...</h3>
						<ul class="social">
							<li><a href="https://www.linkedin.com/in/chandramouli-yalamanchili-9b442816" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://twitter.com/ychandu85?s=09" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://github.com/chandu85" class="icon brands fa-github"><span class="label">Github</span></a></li>								
						</ul>
						<hr />
					</div>
				</div>
				<footer>
					<ul id="copyright">
						<li>&copy; Chandu Yalamanchili. All rights reserved.</li>
					</ul>
				</footer>
			</div>
		</article>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
	<script>
		var form = document.getElementById("email-form");
		
		async function handleSubmit(event) {
		  event.preventDefault();
		  var status = document.getElementById("email-form-status");
		  var data = new FormData(event.target);
		  fetch(event.target.action, {
			method: form.method,
			body: data,
			headers: {
				'Accept': 'application/json'
			}
		  }).then(response => {
			status.innerHTML = "Thanks for your submission!";
			form.reset()
		  }).catch(error => {
			status.innerHTML = "Oops! There was a problem submitting your form"
		  });
		}
		form.addEventListener("submit", handleSubmit)
	</script>
</html>